body {
	padding-top: 0;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mt3 {
    margin-top: 3em;
}

.mt4 {
    margin-top: 4em;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.mb3 {
    margin-bottom: 3em;
}

.ml05 {
    margin-left: .5em;
}

.ml1 {
	margin-left: 1em;
}

.mtr1 {
    margin-right: 1em;
    margin-top: 1em;
}

.ml5px {
    margin-left: 5px;
}

.last-change {
    color: #666;
    font-style: italic;
    font-size: 8pt;
}

.fav {
    color: #fa0;
}

.h3max {
    max-width: 800px;
}

.font8 {
    font-size: 8pt;
}

.movelink:hover {
    color: #e60000;
    font-weight: bold;
    text-decoration: none;
}

.movePageCurrent {
    font-weight: bold;
}

.breadcrumbs {
    font-size: 8pt;
    margin-top: 1em;
}
.breadcrumbs a {
    color: black;
    padding: 4px;
}
.breadcrumbs a:hover {
    background-color: #eee;
    text-decoration: none;
}

.btn-m180 {
    min-width: 180px;
}

.greenbook {
    color: #090;
}

.bluebook {
    color: #337ab7;
}

.ticket1 {
    color: #909;
}

.ticket2 {
    color: #090;
}

.btn-gitlab {
    color: black;
    background-color: #ffa41c;
    min-width: 300px;
}

.btn-gitlab:focus {
    outline: none !important;
    border: 1px solid #f60;
}

.btn-gitlab:hover {
    color: black;
    background-color: #ea8100;
}

.btn-preview {
    min-width: 200px;
    margin-top: 8px;
    margin-right: 4px;
}

.ck-balloon-panel {
    z-index: 1040 !important;
}

.label>a {
    color: white;
}

.label>a:hover {
    text-decoration: none;
}

.label-tag {
    background-color: grey;
}

.s1red {
    color: #c00;
}

.error {
    color: #c00;
}

.search-result {
    margin-bottom: 1em;
}

.noContent {
    color: #99c;
}

.hiddenPage {
    color: #800000;
}

.kasten {
    border: 1px solid #ccc;
    margin-bottom: 6px;
    padding: 8px;
    background-color: #eee;
}
 
.subcomments {
    margin-left: 2cm;
}

.has-comment {
    color: #cce;
    margin-left: 6px;
}

.commentChanged {
    color: #900;
}

.commentByMe {
	color: #909;
}

.commentHighlight {
	background-color: #efe;
}

.commentUser {
    font-weight: bold;
}

.commentInfoNC {
    font-size: 8pt;
    color: #666;
    border-top: 1pt #ccc solid;
    margin-bottom: 5px;
    padding-top: 5px;
}

.commentText {
    white-space: break-spaces;
    font-family: 'Courier New', monospace;
}

.commentTextNC {
    /* white-space: break-spaces; darf hier nicht angegeben werden! */
    padding: 5px;
    margin-left: 1em;
    margin-bottom: 5px;
}

.commentTextarea {
    font-family: 'Courier New', monospace;
}

.commentCommands {
	margin-left: 5mm;
	margin-bottom: 20px;
}

.commentDoneBar {
    border-left: 10px solid rgb(92, 184, 92);
    margin-left: 1.4em;
}

.ck-toolbar {
    background-color: #f5f5f9 !important;
}

.seite table.confluenceTable td {
    border: 1px solid #BBB;
    padding: 5px;
}

.seite table.confluenceTable th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #f0f0f0;
}

.seite p img {
    max-width: 100%;
}

.seite h2, .ck-content h2 {
    color: #c00;
    border-bottom: 1px solid #ccc;
}

.seite h3, .ck-content h3 {
    color: #080;
}

.seite h5, .ck-content h5 {
    font-size: 16px;
    color: #906;
}

.seite h6, .ck-content h6 {
    font-size: 16px;
    color: #b28;
    font-style: italic;
}

#search-results td {
    border: 0;
}
#search-results tr {
    border: 0;
}

.brr {
    margin-right: 1em;
    margin-bottom: 1em;
}

.search-result a {
    font-weight: bold;
}

/*.highlight {
}*/

.highlight1 {
    background-color: #FFFF99;
    /*background-color: #FF6347;*/
}

.highlight2 {
    background-color: #90EE90;
}

.highlight3 {
    background-color: #87CEFA;
}

.highlight4 {
    background-color: #ffb6c1;
}

.highlight5 {
    background-color: #00ffff;
}

.highlight6 {
    background-color: #00ff7f;
}

.highlight7 {
    background-color: #ffa500;
}

.highlight8 {
    background-color: #ee82ee;
}

.highlight9 {
    background-color: #ffd700;
}

.highlight10 {
    background-color: #FFBBFF;
}

.textfrag {
    font-size: 10pt;
    width: 500px;
    max-width: 500px;
}

.textareaExclusions {
    white-space: nowrap;
    overflow-x: auto;
    font-family: 'Courier New', monospace;
}

/* ---- ViewSeitePage: HTML from CKEditor display ---- */

figure table td {
    border: 1px solid #BBB;
    padding: 5px;
}

figure table th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #f0f0f0;
}

blockquote {
    font-size: 14px;
    font-style: italic;
}

.dropdown-menu li a {
    font-size: 10pt;
}

.seite figure.image {
    text-align: center;
}

.seite figcaption {
    font-size: 8pt;
}

.seite figure.image-style-block-align-left {
    text-align: left;
}

.seite figure.image-style-block-align-right {
    text-align: right;
}

.seite img {
    vertical-align: bottom;
}

.seite figure.image-style-align-left {
    float: left;
    padding-right: 1em;
}

.seite figure.image-style-align-right {
    float: right;
    padding-left: 1em;
}

.text-tiny {
    font-size: .7em;
}

.text-small {
    font-size: .85em;
}

.text-big {
    font-size: .1.4em;
}

.text-huge {
    font-size: 1.8em;
}

ul.toc {
    font-size: 9pt;
    padding-left: 1.3em;
}

ul.toc li {
    list-style-type: square;
}

div.toc {
    padding-left: 2em;
}

li.subpage {
    margin-top: .5em;
}

.copybtn {
	color: #f0f0f0;
	font-size: 8pt;
	margin-left: 1em;
}

@media print
{    
    .hidden-print, .hidden-print *
    {
        display: none !important;
    }
}

/* -----------floating labels------- */
.has-float-label {
    position: relative
}

.has-float-label label {
    position: absolute;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: 12px;
    z-index: 3;
    line-height: 1;
    padding: 0 1px
}

.has-float-label label::after {
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    font-size: 150%;
    opacity: .5;
    top: .3em;
    font-weight: 400
}

.input-group .has-float-label {
    display: table-cell
}

.input-group .has-float-label .form-control {
    border-radius: 4px
}

.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px
}

	/* by MW: */
	.has-float-label-textarea label {
		left: 1.3em;
	}
/* -----------end of floating labels------- */

.treeActivePage {
	font-weight: bold;
}

ul.pagetree {
    list-style-type: "";
    padding-inline-start: 2em;
    text-indent: -0.6em;
}

.tci {
    cursor: pointer;
}

.tci:hover {
    color: #0cc;
}

.fsmode {
    color: #0a0;
}

.fsmode:hover {
    color: #0a0;
}

.savedContent {
    background-color: #f99;
    padding: 4px;
    border-radius: 5px;
    font-style: italic;
    text-align: center;
}

.fa-sitemap-color {
    color: #909;
}

.ftLinkColor {
    color: #9c6808;
}

.ftConfluenceLinkColor {
    color: #0c66e4;
}

.fa-internal {
    color: #f40;
}

.reply {
    margin-top: 2em;
    border: 1pt dashed grey;
    padding: 11px;
}

.rightSideGreyText {
    color: #888;
    font-size: 8pt;
}

.pagetable {
    width: 100%;
}

.leftarea {
    width: 360px;
    max-width: 360px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 20px;
    overflow: auto;
}

.mainarea {
    vertical-align: top;
}

.navbtn:hover {
    background-color: #eee !important;
}

.logoutBtn {
    color: #900 !important;
}

.line-vertical {
  width: 1px;
  height: 34px;
  float: left;
  background-color: #999;
  margin: 10px;
}

.page-header {
    margin-top: 20px;
}

.noLRPadding {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.xmapbutton {
    color: #9c0;
    font-weight: bold;
}

.xmaptab {
    text-decoration: underline;
}

.xmapcollapsible {
    color: #fff;
    background-color: #376092;
    font-weight: bold;
}

.xmapframe {
    color: #5469c3;
    font-weight: bold;
}

/* MenuPage: */

.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none
}

.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 40px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}

.bs-glyphicons li:hover {
    color: #fff;
    background-color: #563d7c
}

@media ( min-width :768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0
    }
    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px
    }
}

/* MenuPage end */

.edithk0 {
    color: #fff;
    font-size: 9pt;
    margin-left: 1em;
    white-space: nowrap;
}

.edithk1 {
    color: #999;
    font-size: 9pt;
    margin-left: 1em;
    white-space: nowrap;
}

.edithk0:hover, .edithk1:hover {
    text-decoration: none;
}

.pagetreeIconColor {
    color: #666;
}

.pagetreeIconColorNoTree {
    color: #999;
}

.pagetreeIconColorNoContent {
    color: #666;
}

.dropzone {
    border: 2px dashed darkgreen;
    height: 150px;
    background-color: lightgreen;
}

.dz-message {
    text-align: center;
    color: #333;
    margin-top: 3em;
}

.seite pre {
    max-width: 75vw;
}

.infobar {
    background-color: #e9f3fc;
    padding: 4px 8px;
    font-size: 9pt;
    text-align: center;
}

.featurenumber {
    background-color: #909;
}

.searchResultBreadcrumbs, .searchResultBreadcrumbs a {
    color: #99a;
    font-weight: normal;
}

table.relationstable {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.relationstable td {
    border: 1px solid #666;
    padding: 1em;
    vertical-align: top;
}

table.relationstable ul {
	padding-left: 0em;
	list-style: none;
}

.pheader {
    font-size: 14pt;
}

.ulFeatures {
    max-height: 350px;
    overflow-y: auto;
    min-width: 12em;
}

.tfRed {
    color: #f00;
}

.tfGreen {
    color: #090;
}
