.breadcrumbs {
    font-size: 8pt;
    margin-top: 1em;
}
.breadcrumbs a {
    color: black;
    padding: 4px;
}
.breadcrumbs a:hover {
    background-color: #eee;
    text-decoration: none;
}

.btn-m180 {
    min-width: 180px;
}

.greenbook {
    color: #090;
}

.ck-balloon-panel {
    z-index: 1040 !important;
}

.label>a {
    color: white;
}

.label>a:hover {
    text-decoration: none;
}

.label-tag {
    background-color: grey;
}

.s1red {
    color: #c00;
}

.kasten {
    border: 1px solid #ccc;
    margin-bottom: 6px;
    padding: 8px;
    background-color: #eee;
}

.subnotes {
    margin-left: 2cm;
}

.noteChanged {
    color: #900;
}

.noteNumber {
    font-weight: bold;
}

.noteInfo {
    font-size: 8pt;
    color: #666;
}

.noteText {
    white-space: pre-wrap;
}

.ck-toolbar {
    background-color: #f5f5f9 !important;
}

.branch0 {
    padding-left: 19mm;
    padding-top: 14px;
    display: flex;
    color: #c00;
    font-weight: bold;
    font-style: italic;
}

.seite table.confluenceTable {
}

.seite table.confluenceTable td {
    border: 1px solid #BBB;
    padding: 5px;
}

.seite table.confluenceTable th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #f0f0f0;
}

.seite p img {
    max-width: 100%;
}

.seite h2 {
    color: #c00;
}

.seite h3 {
    color: #090;
}

#search-results td {
    border: 0;
}
#search-results tr {
    border: 0;
}

.brr {
    margin-right: 1em;
    margin-bottom: 1em;
}

/* ---- ViewSeitePage: HTML from CKEditor display ---- */

figure table td {
    border: 1px solid #BBB;
    padding: 5px;
}

figure table th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #f0f0f0;
}
