.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mt3 {
    margin-top: 3em;
}

.mt4 {
    margin-top: 4em;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.mt3 {
    margin-bottom: 3em;
}

.app-title {
    color: black;
    font-size: 18pt;
    font-family: 'Shrikhand', cursive;
}

.h3max {
    max-width: 800px;
}

.font8 {
    font-size: 8pt;
}

.movePageCurrent {
    font-weight: bold;
}

.breadcrumbs {
    font-size: 8pt;
    margin-top: 1em;
}
.breadcrumbs a {
    color: black;
    padding: 4px;
}
.breadcrumbs a:hover {
    background-color: #eee;
    text-decoration: none;
}

.btn-m180 {
    min-width: 180px;
}

.greenbook {
    color: #090;
}

.btn-gitlab {
    color: black;
    background-color: #ff8c00;
    min-width: 300px;
}

.btn-gitlab:hover {
    color: black;
    background-color: #ea8100;
}

.btn-preview {
    min-width: 200px;
    margin-top: 8px;
    margin-right: 4px;
}

.ck-balloon-panel {
    z-index: 1040 !important;
}

.label>a {
    color: white;
}

.label>a:hover {
    text-decoration: none;
}

.label-tag {
    background-color: grey;
}

.s1red {
    color: #c00;
}

.search-result {
    margin-bottom: 1em;
}

.noContent {
    color: #99c;
}

.kasten {
    border: 1px solid #ccc;
    margin-bottom: 6px;
    padding: 8px;
    background-color: #eee;
}

.subnotes {
    margin-left: 2cm;
}

.has-note {
    color: #cce;
    margin-left: 6px;
}

.noteChanged {
    color: #900;
}

.noteUser {
    font-weight: bold;
}

.noteInfo {
    font-size: 8pt;
    color: #666;
}

.noteText {
    white-space: pre-wrap;
}

.noteE { /* default */
    color: #000;
}
.noteE1 {
    color: #c00;
}
.noteE2 {
    color: #0a0;
}
.noteE3 {
    color: #00f;
}
.noteE4 {
    color: #09f;
}
.noteE5 {
    color: #f09;
}
.noteE6 {
    color: #f90;
}
.noteE7 {
    color: #832;
}

.ck-toolbar {
    background-color: #f5f5f9 !important;
}

.branch0 {
    padding-left: 19mm;
    padding-top: 14px;
    display: flex;
    color: #c00;
    font-weight: bold;
    font-style: italic;
}

.seite table.confluenceTable {
}

.seite table.confluenceTable td {
    border: 1px solid #BBB;
    padding: 5px;
}

.seite table.confluenceTable th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #f0f0f0;
}

.seite p img {
    max-width: 100%;
}

.seite h2 {
    color: #c00;
}

.seite h3 {
    color: #090;
}

#search-results td {
    border: 0;
}
#search-results tr {
    border: 0;
}

.brr {
    margin-right: 1em;
    margin-bottom: 1em;
}

.search-result a {
    font-weight: bold;
}

.highlight {
}

.highlight1 {
    background-color: #FFFF99;
    /*background-color: #FF6347;*/
}

.highlight2 {
    background-color: #90EE90;
}

.highlight3 {
    background-color: #87CEFA;
}

.highlight4 {
    background-color: #ffb6c1;
}

.highlight5 {
    background-color: #00ffff;
}

.highlight6 {
    background-color: #00ff7f;
}

.highlight7 {
    background-color: #ffa500;
}

.highlight8 {
    background-color: #ee82ee;
}

.highlight9 {
    background-color: #ffd700;
}

.highlight10 {
    background-color: #FFBBFF;
}

.textfrag {
    font-size: 10pt;
    width: 500px;
    max-width: 500px;
}

.langColor {
    color: #999;
}

.textareaExclusions {
    white-space: nowrap;
    overflow-x: auto;
    font-family: 'Courier New', monospace;
}

/* ---- ViewSeitePage: HTML from CKEditor display ---- */

figure table td {
    border: 1px solid #BBB;
    padding: 5px;
}

figure table th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #f0f0f0;
}
