<p style="font-size: 8pt;" class="hidden-print">
    {{if hasPrevLink}}<a href="{{prevLink}}">{{back}}</a>{{else}}{{back}}{{/if}}
    | {{if hasNextLink}}<a href="{{nextLink}}">{{forward}} &gt;&gt;</a>{{else}}{{forward}} &gt;&gt;{{/if}}
    {{if booksMode}} | <a href="{{booksModeLink}}">{{booksModeTitle}}</a>{{/if}}
    {{if hasBookLink}} | <a href="{{bookLink}}">{{bookTitle}}</a>{{/if}}
    {{if hasParentLink}} | <a href="{{parentLink}}">{{parentTitle}}</a>{{/if}}
</p>

<h1>{{title}}</h1>

{{content}}

{{if hasSubpages}}
<div class="hidden-print">
  <hr/>
  {{subpages}}
</div>
{{/if}}

<p style="font-size: 8pt;" class="hidden-print">
    {{if hasPrevLink}}<a href="{{prevLink}}">{{back}}</a>{{else}}{{back}}{{/if}}
    | {{if hasNextLink}}<a href="{{nextLink}}">{{forward}} &gt;&gt;</a>{{else}}{{forward}} &gt;&gt;{{/if}}
    {{if booksMode}} | <a href="{{booksModeLink}}">{{booksModeTitle}}</a>{{/if}}
    {{if hasBookLink}} | <a href="{{bookLink}}">{{bookTitle}}</a>{{/if}}
    {{if hasParentLink}} | <a href="{{parentLink}}">{{parentTitle}}</a>{{/if}}
</p>
