* {
    font-family: Arial;
}

body {
    max-width: 800px;
    margin: auto;
}

.noContent {
    color: #99c;
}

p.math {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: red;
}

li.book {
    margin-bottom: 1em;
}

@media print
{    
    .hidden-print, .hidden-print *
    {
        display: none !important;
    }
}

ul.toc {
    font-size: 9pt;
    padding-left: 1.3em;
}

div.toc {
    padding-left: 2em;
}

li.subpage {
    margin-top: .5em;
}

.text-tiny {
    font-size: .7em;
}

.text-small {
    font-size: .85em;
}

.text-big {
    font-size: .1.4em;
}

.text-huge {
    font-size: 1.8em;
}

.xmapbutton {
    color: #9c0;
    font-weight: bold;
}

.xmaptab {
    text-decoration: underline;
}

.xmapcollapsible {
    color: #fff;
    background-color: #376092;
    font-weight: bold;
}

.xmapframe {
    color: #5469c3;
    font-weight: bold;
}
