h1 {
    color: #000066;   /* XXX temp. damit man Seitenbeginn erkennen kann */
}

h2 {
    border-bottom: 1px solid #ccc;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans';
    -fs-page-break-min-height: 4cm;
}

@page {
    margin: 50px;
    @bottom-center {
        content: counter(page);
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table td {
    border: 1px solid #BBB;
    padding: 5px;
}

table th {
    border: 1px solid #BBB;
    padding: 5px;
    background-color: #EEE;
}

p img {
    max-width: 100%; /* gegen zu breite Grafiken */
}

div {
    widows: 7;
    orphans: 7;
}

.cover h1 {
	padding-top: 10cm;
	text-align: center;
	color: #000;
}

.cover h2 {
	text-align: center;
    border-bottom: none;
}

.cover .copyright {
	margin-top: 75mm;
	text-align: center;
	color: #555;
}

.toc h1 {
	color: #000;
}

.tocpn { /* funktioniert nicht */
	content: target-counter(attr(href), page);
}

.math {
    text-align: center;
}

blockquote {
    border-left: 5px solid #eee;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-style: italic;
}
