* {
    font-family: Arial;
}

body {
    max-width: 800px;
    margin: auto;
}

.noContent {
    color: #99c;
}

p.math {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: red;
}

li.book {
    margin-bottom: 1em;
}
