{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
    </div>      
    <div class="col-lg-12">
        <p>Branch: {{branch}}, Buch: <a href="/b/{{branch}}/{{bookFolder}}">{{bookTitle}}</a></p>
        <table class="table mt2">
            <tr style="background-color: #f5f5f5;">
                <th>{{N.nodot}}</th>
                <th style="min-width: 300px; max-width: 800px;">{{N.note}}</th>
                <th>{{N.author}}</th>
                <th style="min-width: 200px;">{{N.page}}</th>
                <th style="width: 12em;">{{N.createdAt}}</th>
            </tr>
            {{each n in notes}}
                <tr>
                    <td><a href="{{n.link}}">#{{n.number}}</a></td>
                    <td><pre class="noteText">{{n.text}}</pre></td>
                    <td>{{n.user}}</td>
                    <td><a href="{{n.pagelink}}">{{n.pageTitle}}</a></td>
                    <td>{{n.created}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
