{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
    </div>      
    <div class="col-lg-12">
        <p>Branch: {{branch}}, Buch: <a href="/b/{{branch}}/{{bookFolder}}">{{bookTitle}}</a></p>
        <table class="table mt2">
            <tr style="background-color: #f5f5f5;">
                <th style="min-width: 300px; max-width: 800px;">{{N.note}}</th>
                <th>{{N.author}}<br/><br/>Zuständig</th>
                <th style="min-width: 200px;">{{N.page}}</th>
                <th style="width: 12em;">{{N.createdAt}}</th>
            </tr>
            {{each n in notes}}
                <tr>
                    <td><pre id="na{{n.id}}" class="noteText">{{n.text1}}{{if n.hasMoreText}}<a
                        onclick="moreText('{{n.id}}');" class="noteMehr">mehr...</a>{{/if}}</pre><pre
                        id="nb{{n.id}}" class="noteText" hidden>{{n.completeText}}</pre></td>
                    <td>{{n.user}}{{if n.hasPersons}}<br/><br/>{{n.persons}}{{/if}}</td>
                    <td><a href="{{n.pagelink}}">{{n.pageTitle}}</a></td>
                    <td>{{n.created}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

<script>
    function moreText(id) {
        console.log(id)
        $('#na' + id).attr('hidden', true)
        $('#nb' + id).attr('hidden', false)
    }
</script>
