{{master: master_jqueryoben}}

<style>
.mw {
    min-width: 200px;
}
</style>

<div class="row"> 
    <div class="col-lg-9">
        <div class="mt1" style="margin-bottom: 10px; padding-left: 0;">
            <a {{if hasPrevlink}}href="{{prevlink}}"{{else}}disabled{{/if}} class="btn btn-default"
                title="{{N.pageToPrev}}" id="prev1"><i class="fa fa-arrow-left"></i></a>
            <a {{if hasNextlink}}href="{{nextlink}}"{{else}}disabled{{/if}} class="btn btn-default br"
                title="{{N.pageToNext}}" id="next1"><i class="fa fa-arrow-right"></i></a>
        </div>

        <ul class="nav nav-tabs" id="langTabs">
            {{each L in languages}}
                <li role="presentation"{{if L.active}} class="active"{{/if}}><a href="#{{L.lang}}"
                    data="{{L.LANG}}">{{N.language}}
                    {{L.LANG}}</a></li>
            {{/each}}
        </ul>
        
        <div class="tab-content">
            {{each L in languages}}
                <div role="tabpanel" class="tab-pane{{if L.active}} active{{/if}}" id="{{L.lang}}">
                    <div class="col-lg-12 mwtab"
                        style="border: 1px solid #ddd; border-top: 0px white; padding-bottom: 1em;">
                        <h1>{{L.bookTitle}}</h1>
                        {{L.gliederung}}
                    </div>
                </div>
            {{/each}}
        </div>
        
        <div class="col-lg-12 visible-lg-block mt1" style="padding-left: 0;">
            <p>
                <a {{if hasPrevlink}}href="{{prevlink}}"{{else}}disabled{{/if}} class="btn btn-default"
                    title="{{N.pageToPrev}}" id="prev2"><i class="fa fa-arrow-left"></i></a>
                <a {{if hasNextlink}}href="{{nextlink}}"{{else}}disabled{{/if}} class="btn btn-default br"
                    title="{{N.pageToNext}}" id="next2"><i class="fa fa-arrow-right"></i></a>
                {{if hasLastChange}}
                    <span class="last-change">{{lastChangeInfo}}</span>
                {{/if}}
            </p>
        </div>
    </div>
    
    <div class="col-lg-3">
        <p class="mb2" style="margin-top: 16px;">
            <a href="/s/{{branch}}/{{bookFolder}}/root/add"
                class="btn btn-default br">{{N.newPage}}</a>
            <a href="/w/{{branch}}/pull?book={{bookFolder}}" class="btn btn-default" title="{{N.pullWS}}!"
                onclick="document.getElementById('s_pull').classList.add('fa-spin');"><i
                class="fa fa-refresh" id="s_pull"></i></a>
        </p>
        <p style="margin-top: 7em;">
            <a href="{{positionlink}}" class="btn btn-default btn-sm br{{if not hasPositionlink}} disabled{{/if}}"><i
                class="fa fa-sort"></i> {{N.reorder}}</a>
            {{if isAdmin}}
                <a href="{{sortlink}}" class="btn btn-default btn-sm br{{if not hasPositionlink}} disabled{{/if}}"
                    onclick="return sort();"><i class="fa fa-sort-alpha-asc"></i> {{N.sort}}!
                    <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
            {{/if}}
        </p>
        <p style="font-size: 8pt; color: #888;">
            {{Sortierung}}
        </p>
        <p class="mt2">
            <a href="/b/{{branch}}/{{bookFolder}}/notes" class="btn btn-default mw" title=""><i
                class="fa fa-comments-o"></i> {{N.notes}}</a>
        </p>
        <p>
            <a href="{{booklink}}?m=all" class="btn btn-default mw">{{N.allPages}}</a>
        </p>
    </div>
</div>

<script>
    $('#langTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        lang = e.target.hash.substring(1)
        $.get("/b/{{branch}}/language?m=page&lang=" + lang);
    })

    function sort() {
        ret = confirm('{{N.sortConfirm}}');
        if (ret) {
            document.querySelector('#s1').style='';
        }
        return ret;
    }
</script>
