{{master: master_jqueryoben}}

<div class="row"> 
    <div class="col-lg-9">
        <h1 class="page-header">{{header}}</h1>

        <ul class="nav nav-tabs" id="langTabs">
            {{each L in languages}}
                <li role="presentation"{{if L.active}} class="active"{{/if}}><a href="#{{L.lang}}"
                    data="{{L.LANG}}">{{N.language}}
                    {{L.LANG}}</a></li>
            {{/each}}
        </ul>
        
        <div class="tab-content">
            {{each L in languages}}
                <div role="tabpanel" class="tab-pane{{if L.active}} active{{/if}}" id="{{L.lang}}">
                    <div class="col-lg-12 mwtab"
                        style="border: 1px solid #ddd; border-top: 0px white; padding-top: 1em; padding-bottom: 1em;">
                        {{L.gliederung}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="col-lg-3">
        <p class="mb2" style="margin-top: 16px;"><a href="/s/{{branch}}/{{bookFolder}}/root/add"
            class="btn btn-primary">{{N.newPage}}</a></p>
        <p style="margin-top: 7em;">
            <a href="{{positionlink}}" class="btn btn-default btn-sm br{{if not hasPositionlink}} disabled{{/if}}"><i
                class="fa fa-sort"></i> {{N.reorder}}</a>
            <a href="{{sortlink}}" class="btn btn-default btn-sm br{{if not hasPositionlink}} disabled{{/if}}"
                onclick="return sort();"><i class="fa fa-sort-alpha-asc"></i> {{N.sort}}!
                <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
        </p>
        <p style="font-size: 8pt; color: #888;">
            {{Sortierung}}
        </p>
    </div>
</div>

<script>
    $('#langTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        lang = e.target.hash.substring(1)
        $.get("/b/{{branch}}/language?m=page&lang=" + lang);
    })

    function sort() {
        ret = confirm('{{N.sortConfirm}}');
        if (ret) {
            document.querySelector('#s1').style='';
        }
        return ret;
    }
</script>
