{{master: master}}

<style>
.buch {
    font-size: 9pt;
}
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        {{each page in pages}}
            <h3><a href="/s/{{branch}}/{{bookFolder}}/{{page.id}}" target="page1">{{page.title}}</a> <span class="buch">#{{page.id}} {{page.book}}</span></h3>
            {{each L in page.languages}}
                <p>
                    <b>{{L.language}}</b>{{L.info}}
                    <ul>
                        {{each B in L.brokenLinks}}
                            <li>
                                <a href="/s/{{branch}}/{{B.bookFolder}}/{{B.id}}" target="page2">{{B.title}}</a>
                                #{{B.id}}
                                <small style="color: #999;">({{B.customers}})</small>
                                {{each tag in B.tags}} <span class="label label-tag">{{tag.tag}}</span>{{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </p>
            {{/each}}
        {{/each}}
        
        <p><small>{{ohHosts}}</small></p>
    </div>
</div>
    