{{master: master}}

<style>
.buch {
    font-size: 9pt;
}

.cust {
    color: #999;
    margin-right: 1em;
}

.errorType {
    color: #d00;
    font-weight: bold;
}
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        {{each page in pages}}
            <h3><a href="/s/{{branch}}/{{bookFolder}}/{{page.id}}" target="page1">{{page.title}}</a> <span class="buch">{{page.book}}</span></h3>
            {{each L in page.languages}}
                <p>
                    <b>{{L.language}}</b>{{L.info}}
                    <ul>
                        {{each B in L.brokenLinks}}
                            <li>
                                {{if B.is404}}
                                    <a href="/s/{{branch}}/{{B.bookFolder}}/{{B.id}}" target="page2">{{B.title}}</a>
                                    {{if B.hasTitle}}#{{B.id}}{{/if}}
                                {{else}}
                                    <span class="errorType">{{B.errorType}}</span>
                                    {{B.title}}
                                {{/if}}
                                <small class="cust">({{B.customers}})</small>
                                {{each tag in B.tags}} <span class="label label-tag">{{tag.tag}}</span>{{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </p>
            {{/each}}
        {{/each}}

        <hr/>
        <p><small>{{ohHosts}}</small></p>
    </div>
</div>
    