{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{N.comments}}</h1>
        
        <h2><a href="{{parentEntityPath}}">{{parentEntityTitle}}</a></h2>
        
        {{if hasOpenComments}}
            <p style="margin-bottom: 26px; font-size: 9pt;">{{openComments}} {{if oneOpenComment}}{{N.openComment}}{{else}}{{N.openComments}}{{/if}}</p>
        {{/if}}
        
        {{if showTopCreateButton}}
            <p class="mt2 mb2"><a href="{{addlink}}" class="btn btn-primary"><i class="fa fa-comment"></i> {{N.addComment}}</a></p>
        {{/if}}
        
        {{comments}}
        {{if not hasComments}}- {{N.noComments}} -{{/if}}

        <p class="mt2"><a href="{{addlink}}" class="btn btn-primary"><i class="fa fa-comment"></i> {{N.addComment}}</a></p>
    </div>
</div>

<script>
function isThereUnsavedContent(commentId) {
    let vorh = false
    let oldEditor = localStorage.getItem('comment.' + commentId)
    if (oldEditor) {
        vorh = true
    } else {
        oldEditor = localStorage.getItem('error_comment.' + commentId)
        if (oldEditor) {
            vorh = true
        }
    }
    if (vorh) {
        document.getElementById('uc_' + commentId).style = '';
    }
}

window.onload = function() {
    {{each c in allCommentsIdList}}
        isThereUnsavedContent('{{c.commentId}}');
    {{/each}}
}    

function loeschen(id) {
    ret = confirm('{{N.deleteQ}}');
    if (ret) {
        document.querySelector('#n_' + id).style = '';
    }
    return ret;
}

function aufklappen(id, mode) {
    document.getElementById('c1_' + id).style.display = mode ? 'block' : 'none';
    document.getElementById('c2_' + id).style.display = mode ? 'block' : 'none';
    document.getElementById('c0_' + id).style.display = mode ? 'none' : 'block';
}
</script>
