{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{N.deletePage}}</h1>
        
        <h3 class="h3max">{{N.deletePage1}} "{{pageTitle}}".</h3>
        
        <p>{{N.deletePage2}}{{if not gitlab}}<br/>{{N.deletePage3}}{{/if}}</p>
        <p>{{additionalInfo}}</p>
        
        {{if hasLinkingPages}}
            <p>{{pagesLinkToThisPage}}</p>
            <ul>
                {{each s in linkingPages}}
                    <li><a href="{{s.link}}">{{s.title}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
        
        <p class="mt2">
            <a href="{{viewlink}}/delete?m=d" class="btn btn-danger br"
                onclick="document.getElementById('s1').style='';"><i
                class="fa fa-trash-o"></i> {{N.deletePage}}!
                <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
            <a href="/s/{{branch}}/{{bookFolder}}/{{id}}" class="btn btn-default">{{N.keepPage}}</a>
        </p>
    </div>
</div>
