{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Download</h1>
        <p>{{N.downloadExportInfo}}</p>
        <h3>
        	<i class="fa fa-{{downloadIcon}}"></i>
        	<a href="/w/{{branch}}/download-export/{{id}}/{{dnu}}?mode=dl" target="_blank">{{dn}}</a>
        </h3>
        <p class="mt4">
        	<a href="/w/{{branch}}/menu" class="btn btn-default br"><i class="fa fa-navicon"></i> {{N.goToMenu}}</a>
        	<a href="/w/{{branch}}/export" class="btn btn-default br"><i class="fa fa-download"></i> {{N.anotherExport}}</a>
        </p>
    </div>
</div>
