{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <small>
            {{each cat in categories}}
                <a href="#{{cat.id}}">{{cat.label}}</a><br/>
            {{/each}}
        </small>
        
        <form action="config" class="form-horizontal" method="post">
            <fieldset>
                {{each cat in categories}}
                    <div style="border-left: 9px {{cat.color}} solid; padding-left: 8px;">
                        <h2 id="{{cat.id}}" style="border-bottom: 1pt solid grey;">{{cat.label}}</h2>
                        
                        {{each o in cat.options}}
                            <div class="form-group">
                                <label for="{{o.key}}" class="col-lg-2 control-label">{{o.label}}</label>
                                <div class="col-lg-4">
                                    {{if o.isTextarea}}
                                        <textarea class="form-control" rows="6" id="{{o.key}}" name="{{o.key}}">{{o.value}}</textarea>
                                    {{else if o.isSecret}}
                                        <input class="form-control" type="password" id="{{o.key}}" name="{{o.key}}" value="{{o.value}}">
                                    {{else}}
                                        <input class="form-control" type="text" id="{{o.key}}" name="{{o.key}}" value="{{o.value}}">
                                    {{/if}}
                                    {{if o.hasHint}}
                                        <small>{{o.hint}}</small>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
                <div class="form-group" style="padding-left: 17px; margin-top: 3em;">
                    <div class="col-lg-offset-2 col-lg-5">
                        <button type="submit" class="btn btn-primary" style="min-width: 200px;">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<style>
    small {
        color: #bbb;
    }
</style>
