{{master: master_ck}}

<style>
/* Definitions for CKEditor font-type menu must be here. */
.ck.ck-heading_heading1 {
    color: #c00;
}

.ck.ck-heading_heading2 {
    color: #080;
}

.ck.ck-heading_heading3 {
    font-size: 16px;
}

.ck.ck-heading_heading4 {
    font-size: 16px;
    color: #906;
}

.ck.ck-heading_heading5 {
    font-size: 16px;
    color: #b28;
}

.editbox:not(:focus) {
    border: 1px #ccc solid;
}
</style>

<div class="row" style="margin-right: 1em;">
    <ul class="nav nav-tabs mt1" id="langTabs">
        {{each L in languages}}
            <li role="presentation"{{if L.active}} class="active"{{/if}}><a href="#{{L.lang}}"
                class="{{L.LANG}}">{{N.language}} {{L.LANG}}</a></li>
        {{/each}}
    </ul>
    <form class="form-horizontal" action="{{editlink}}" method="POST">
        <fieldset>
            <input type="hidden" id="version" name="version" value="{{version}}">
            <div class="tab-content">
                {{each L in languages}}
                    <div role="tabpanel" class="tab-pane{{if L.active}} active{{/if}}" id="{{L.lang}}">
                        <div class="col-lg-12">
                            <div class="form-group mt1">
                                <div>
                                    <input class="form-control titelfeld{{L.LANG}}" type="text" id="titel{{L.LANG}}"
                                        name="titel{{L.LANG}}"
                                        value="{{L.titel}}" style="font-size: 24pt; height: 50px;" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="toolbar-container{{L.LANG}}"></div>
                                <div id="editor{{L.LANG}}" class="editbox"
                                    style="max-height: calc(100vh - 320px);">{{L.content}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="col-lg-12">
                <div class="form-group" style="text-align: right;">
                    <input type="text" name="comment" placeholder="{{N.whatChanged}}"
                        style="width: 300px; display: inline;" class="form-control">
                    
                    <button id="submit" type="submit" class="btn btn-primary br" style="margin-left: 1em;"
                        onclick="document.getElementById('s1').style='';" title="{{ctrlS}}">
                        {{N.save}} <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                    
                    <a href="{{viewlink}}/cancel" class="btn btn-default">{{N.cancel}}</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
function MyCustomUploadAdapterPlugin( editor ) {
    editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
        return new MyUploadAdapter(loader, '{{imageuploadlink}}');
    };
}

{{each L in languages}}
    let editor{{L.LANG}};
    DecoupledEditor
        .create(document.querySelector('#editor{{L.LANG}}'), {
            extraPlugins: [ MyCustomUploadAdapterPlugin ],
            language: '{{L.lang}}',
            toolbar: {
                removeItems: ['fontfamily', 'mediaEmbed', 'indent', 'outdent']
            },
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph' },
                    { model: 'heading1', view: 'h2', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h3', title: 'Heading 2', class: 'ck-heading_heading2' },
                    { model: 'heading3', view: 'h4', title: 'Heading 3', class: 'ck-heading_heading3' },
                    { model: 'heading4', view: 'h5', title: 'Heading 4', class: 'ck-heading_heading4' },
                    { model: 'heading5', view: 'h6', title: 'Heading 5', class: 'ck-heading_heading5' },
                    { model: 'pre', view: 'pre', title: 'Code' },
                ]
            }
        })
        .then( editor => {
            editor{{L.LANG}} = editor;
            const toolbarContainer = document.querySelector('#toolbar-container{{L.LANG}}');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        } )
        .catch( error => {
            console.error(error);
        } );
{{/each}}

document.querySelector('#submit').addEventListener('click', () => {
    setTimeout(function() { // Firefox problem NS_BINDING_ABORTED
        $.post("{{postcontentslink}}", {
            {{each L in languages}}
                content{{L.LANG}}: editor{{L.LANG}}.getData(),
            {{/each}}
            version: document.querySelector('#version').value
        });
    }, 0);
} );

document.addEventListener('keydown', e => {   {{-- // https://stackoverflow.com/a/60279187 --}}
    if (e.ctrlKey && e.key === 's') {
        e.preventDefault();
        $('#submit').click();
    }
});

$('#langTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
    
    if (e.target.href.endsWith('#en')) {
        document.querySelector('.titelfeldEN').focus()
    } else {
        document.querySelector('.titelfeldDE').focus()
    }
    
    $.get("/w/{{branch}}/language?m=page&lang=" + e.target.hash.substring(1));
})
</script>
