{{master: master_ck}}

<div class="row">
    <ul class="nav nav-tabs" id="langTabs" style="margin-top: 1em;">
        {{each L in languages}}
            <li role="presentation"{{if L.active}} class="active"{{/if}}><a href="#{{L.lang}}"
                class="{{L.LANG}}">{{N.language}} {{L.LANG}}</a></li>
        {{/each}}
    </ul>
    <form class="form-horizontal" action="{{editlink}}" method="POST">
        <fieldset>
            <input type="hidden" id="version" name="version" value="{{version}}">
            <div class="tab-content">
                {{each L in languages}}
                    <div role="tabpanel" class="tab-pane{{if L.active}} active{{/if}}" id="{{L.lang}}">
                        <div class="col-lg-12">
                            <div class="form-group" style="margin-top: 1em;">
                                <div>
                                    <input class="form-control titelfeld{{L.LANG}}" type="text" id="titel{{L.LANG}}" name="titel{{L.LANG}}"
                                        value="{{L.titel}}" style="font-size: 24pt; height: 50px;" autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="toolbar-container{{L.LANG}}"></div>
                                <div id="editor{{L.LANG}}" style="max-height: 490px;">{{L.content}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" class="btn btn-primary br" style="margin-left: 1em;"
                        onclick="document.getElementById('s1').style='';">
                        {{N.save}} <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                    <a href="{{viewlink}}" class="btn btn-default br">{{N.cancel}}</a>
                    <span style="font-family: Courier New;" class="br">Page ID: {{id}}
                    | <i class="fa fa-book greenbook"></i> {{bookTitle}}</span>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
function MyCustomUploadAdapterPlugin( editor ) {
    editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
        return new MyUploadAdapter(loader, '{{imageuploadlink}}');
    };
}

{{each L in languages}}
    let editor{{L.LANG}};
    DecoupledEditor
        .create(document.querySelector('#editor{{L.LANG}}'), {
            extraPlugins: [ MyCustomUploadAdapterPlugin ],
            toolbar: {
                removeItems: ['fontfamily', 'mediaEmbed', 'indent', 'outdent']
            }
        })
        .then( editor => {
            editor{{L.LANG}} = editor;
            const toolbarContainer = document.querySelector('#toolbar-container{{L.LANG}}');
            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
        } )
        .catch( error => {
            console.error(error);
        } );
{{/each}}

document.querySelector('#submit').addEventListener('click', () => {
    $.post("{{postcontentslink}}", {
        {{each L in languages}}
            content{{L.LANG}}: editor{{L.LANG}}.getData(),
        {{/each}}
        version: document.querySelector('#version').value
    });
} );

$('#langTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
    
    if (e.target.href.endsWith('#en')) {
        document.querySelector('.titelfeldEN').focus()
    } else {
        document.querySelector('.titelfeldDE').focus()
    }
})
</script>
