{{master: master}}

<style>
.extab tr th {
    text-align: center;
    background-color: #f5f5f5;
}

.extab tr td {
    text-align: center;
    min-width: 6em;
    padding: 2px;
}

.extab0 {
    text-align: left !important;
    background-color: #f5f5f5;
    padding: 3px !important;
}

.plus {
    background-color: #009900;
}
.minus {
    background-color: salmon;
}
.x {
    background-color: #00cc00;
}
</style>

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <form action="/w/{{branch}}/exclusions/edit" class="form-horizontal" method="post">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea class="form-control textareaExclusions" id="exclusions" name="exclusions"
                            rows="26" autofocus>{{exclusions}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5">
                        <button type="submit" class="btn btn-primary br"
                            onclick="document.querySelector('#s1').style='';">{{N.save}}
                            <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <table class="extab" border="1">
            <tr>
                <th>&nbsp;</th>
                {{each c in customers}}
                    <th>{{c.customer}}</th>
                {{/each}}
            </tr>
            {{each r in rows}}
                <tr>
                    <td class="extab0"><a href="/w/{{branch}}/tag/{{r.tag}}">{{r.tag}}</a></td>
                    {{each x in r.customers}}
                        <td class="{{if x.plus}}plus{{else if x.minus}}minus{{else if x.x}}x{{/if}}">{{if x.plus}}+{{else}}&nbsp;{{/if}}</td>
                    {{/each}}
                </tr>
            {{/each}}
        </table>
        <small>Spalten: Kunden, Reihen: <a href="/w/{{branch}}/tag-cloud">tags</a></small>
        
        <p>weitere tags:
            {{each tag in unusedTags}}
                <a href="/w/{{branch}}/tag/{{r.tag}}">{{tag.tag}}</a>{{if not tag.last}}, {{/if}}
            {{/each}}
        </p>
    </div>
</div>
