{{master: master}}

<style>
    textarea {
        font-family: Courier New;
    }
</style>

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <form action="/w/{{branch}}/export-templates" class="form-horizontal" method="post">
            <fieldset>
				<h3>{{N.multiPageHtml}}</h3>
                <div class="form-group">
                    <label for="books" class="col-lg-1 control-label">{{N.booksOverview}}</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" id="books" name="books" autofocus>{{books}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="book" class="col-lg-1 control-label">{{N.book}}</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" id="book" name="book">{{book}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="page" class="col-lg-1 control-label">{{N.page}}</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" id="page" name="page">{{page}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="template" class="col-lg-1 control-label">{{N.template}}</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" id="template" name="template">{{template}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="templateCss" class="col-lg-1 control-label">CSS</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" id="templateCss" name="templateCss">{{templateCss}}</textarea>
                    </div>
                </div>

                <hr/>
                <h3>PDF</h3>
                <div class="form-group">
                    <label for="pdfCss" class="col-lg-1 control-label">CSS</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" id="pdfCss" name="pdfCss">{{pdfCss}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-5">
                        <button type="submit" class="btn btn-primary br" onclick="document.querySelector('#s1').style='';">{{N.save}}
                            <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                        <a href="/w/{{branch}}" class="btn btn-default">{{N.cancel}}</a>
                    </div>
                </div>
            </fieldset>
        </form>
        
    </div>
</div>
