{{master: master}}

<style>
.c3 {
	min-width: 2em;
	text-align: right;
}
</style>
	
<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <p class="mt2">
			<a href="/ets/{{branch}}/add" class="btn btn-primary br"
				onclick="document.getElementById('s1').style='';">{{N.addExportTemplateSet}}
            	<i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
            <a href="/w/{{branch}}/export" class="btn btn-default br"><i class="fa fa-upload"></i> {{N.export}}</a>
		</p>

		{{sets}}        
    </div>
</div>
