{{master: master_jqueryoben}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <h2><a href="{{viewlink}}">{{pageTitle}}</a></h2>

        <form action="{{viewlink}}/help-keys" class="editorform form-horizontal mt3" method="post">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-7">
                        <textarea class="form-control commentTextarea" id="helpKeys" name="helpKeys" rows="16"
                            autofocus>{{helpKeys}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-primary br"
                            onclick="document.querySelector('#s1').style='';">{{N.save}}
                            <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                        <a href="{{viewlink}}" class="btn btn-default">{{N.cancel}}</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
$(window).on('beforeunload', function() {
    return 'Any changes will be lost';  {{-- // browser shows its own text --}}
});

$(document).on('submit', 'form.editorform', function(event) {  {{-- // allow Save button to leave without above question --}}
    $(window).off('beforeunload');
});
</script>
