{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <h2><a href="{{viewlink}}">{{pageTitle}}</a></h2>
        
        {{if hasLinks}}
            {{table1}}
        {{else}}
            <p class="mt2">- {{N.noLinks}} -</p>
        {{/if}}

        <p class="mt2">
            <a href="{{viewlink}}" class="btn btn-default br"><i class="fa fa-arrow-left"></i>
                {{N.backToPage}} "{{pageTitle}}"</a>
        </p>
    </div>
</div>
