{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Unfertige Links ersetzen #{{nextIndex}}/{{size}}</h1>
        
        <h3>Es wurde in der Seite "{{pageTitle}}" ein Link mit
        <br>Adresse <b>"{{href}}"</b> und Titel <b>"{{aTitle}}"</b>
        gefunden.</h3>
        <p>Bitte nach einem Seitentitel suchen, damit der Link mit dessen Seiten ID ersetzt werden kann.</p>
        
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="search" class="col-lg-2 control-label"><b>nach Seitentitel suchen:</b></label>
                    <div class="col-lg-3">
                        <input class="form-control" type="search" id="search"
                               name="search" value="{{href}}"
                               hx-post="/links/{{branch}}/{{bookFolder}}/{{id}}?index={{index}}" 
                               hx-trigger="keyup changed delay:500ms, search" 
                               hx-target="#search-results" 
                               autofocus>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <table class="table mt1">
            <thead>
                <tr>
                    <th style="border: 0;"><h3>Ergebnisliste</h3></th>
                </tr>
            </thead>
            <tbody id="search-results">{{result0}}</tbody>
        </table>
    </div>
</div>
