{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <h2><a href="{{viewlink}}">{{pageTitle}}</a></h2>
        
        <table class="table mt2" style="width: auto;">
            {{each h in links}}
                <tr>
                <td>{{h.lang}} </td> <td> {{if h.outgoing}}<span style="color: #0a0;">outgoing</span>{{else}}<span
                    style="color: blue;">incoming</span>{{/if}} {{if h.internal}}internal{{else}}<span
                    style="color: red;">external</span>{{/if}}
                    </td><td> <a href="{{h.href}}">{{h.title}}</a></td></tr>
            {{/each}}
        </table>

        <p class="mt2">
            <a href="{{viewlink}}" class="btn btn-default br"><i class="fa fa-arrow-left"></i>
                {{N.backToPage}} "{{pageTitle}}"</a>
        </p>
    </div>
</div>
