{{master: master}}

<div class="row">
    {{if withPassword}}
        <h1 class="page-header">Willkommen bei Minerva!</h1>
        <div class="col-lg-12" style="margin-bottom: 5cm;">
            <p style="margin-bottom: 22px;">Die Anmeldung erfolgt via Gitlab, da die Inhalte dort gespeichert werden.</p>
            <p><a href="/gitlab-auth" class="btn btn-lg btn-gitlab" style="color: #333; border-radius: 20px;"
                onclick="document.querySelector('#s1').style='';"{{if development}} autofocus{{/if}}>
                Mit Gitlab anmelden
                <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a></p>
        </div>
    {{else}}
        <div class="col-lg-12" style="margin-top: 2cm;">
            <p>Please select 'Help &gt; Edit online help' in the application.</p>
            <p style="margin-top: 2em;">Bitte wählen Sie in der Anwendung 'Hilfe &gt; Online-Hilfe bearbeiten'.</p>
        </div>
    {{/if}}
</div>
