<!DOCTYPE html>
<html lang="de">
<head>

{{include: master_mainhead}}

    <script src="/js/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>

</head>
<body>

{{include: master_mainbody}}


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/metismenu.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>
