<ul class="nav" id="side-menu">
    {{if not isCustomerVersion}}
        <li>
            <a href="/"><i class="fa fa-home"></i> Workspaces</a>
        </li>
    {{/if}}
    <li>
        <a href="/b/{{branch}}"><i class="fa fa-book"></i> {{booksLabel}}</a>
    </li>
    {{if hasUser}}
        <li class="sidebar-search">
            <form action="/b/{{branch}}/search">
                <div class="input-group custom-search-form">
                    <input class="form-control" placeholder="{{searchPlaceholder}}" type="text" id="q" name="q"
                        value="{{q}}"{{if searchFocus}} autofocus{{/if}}>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </li>
        {{each b in booksForMenu}}
            <li>
                <a href="/b/{{branch}}/{{b.folder}}"><i class="fa fa-book greenbook"></i> {{b.title}}</a>
            </li>
        {{/each}}
        <li>
            <a href="{{previewlink}}"><i class="fa fa-thumbs-o-up"></i> {{previewTitle}}</a>
        </li>
        <li>
            <a href="/auth/logout" style="color: #900;"><i class="fa fa-sign-out"></i> {{abmelden}} ({{user}})</a>
        </li>
    {{/if}}
</ul>
