<ul class="nav" id="side-menu">
    {{if not isCustomerVersion}}
        <li>
            <a href="/"><i class="fa fa-home"></i> Workspaces</a>
        </li>
    {{/if}}
    <li>
        <a href="/w/{{branch}}"><i class="fa fa-book"></i> {{booksLabel}}</a>
    </li>
    {{if hasUser}}
        {{if hasBook}}
            <li class="sidebar-search">
                <form action="/w/{{branch}}/search">
                    <div class="input-group custom-search-form">
                        <input id="q" name="q" class="form-control" placeholder="{{searchPlaceholder}}" type="text"
                            value="{{q}}"{{if searchFocus}} autofocus{{/if}}>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </li>
            {{each b in booksForMenu}}
                <li>
                    <a href="/b/{{branch}}/{{b.folder}}"><i class="fa fa-book greenbook"></i> {{b.title}}</a>
                </li>
            {{/each}}
            <li>
                <a href="{{previewlink}}"><i class="fa fa-thumbs-o-up"></i> {{previewTitle}}</a>
            </li>
            <li>
                <a href="/math"><i class="fa fa-superscript"></i> {{formulaEditor}}</a>
            </li>
            <li>
                <a href="/w/{{branch}}/my-tasks"><i class="fa fa-inbox"></i> {{myTasks}}</a>
            </li>
            {{additionalMenus}}
            {{each f in favorites}}
                <li>
                    <a href="{{f.link}}"><i class="fa fa-star fav"></i> {{f.title}}</a>
                </li>
            {{/each}}
            {{if hasLastEditedPage}}
                <li>
                    <a href="{{lastEditedPage_link}}"><i class="fa fa-pencil fav"></i> {{lastEditedPage_title}}</a>
                </li>
            {{/if}}
        {{/if}}
        <li>
            <a href="/auth/logout" style="color: #900;"><i class="fa fa-sign-out"></i> {{abmelden}} ({{user}}){{if isAdmin}}*{{/if}}</a>
        </li>
    {{/if}}
</ul>
