{{master: master}}

<style>
h2 {
	margin-top: 2em;
}

.bs-glyphicons {
	margin: 0 -10px 20px;
	overflow: hidden
}

.bs-glyphicons-list {
	padding-left: 0;
	list-style: none
}

.bs-glyphicons li {
	float: left;
	width: 25%;
	height: 115px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #fff
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 40px;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word
}

.bs-glyphicons li:hover {
	color: #fff;
	background-color: #563d7c
}

@media ( min-width :768px) {
	.bs-glyphicons {
		margin-right: 0;
		margin-left: 0
	}
	.bs-glyphicons li {
		width: 12.5%;
		font-size: 12px
	}
}

.red {
	color: #800;
}

.currentBranch {
    background-color: #e9f3fc !important;
}

.currentBranch:hover {
    background-color: #563d7c !important;
}

.currentBranchIcon {
    color: #0dd;
}
</style>

<div class="row">
	<div class="col-lg-12">
		{{if gitlab}}
			<h1 class="page-header">Workspaces</h1>
			<div class="bs-glyphicons">
				<ul class="bs-glyphicons-list">
					{{each c in workspaces}}
						<li style="cursor: pointer;"{{if c.isCurrent}} class="currentBranch"{{/if}} onclick="location.href='{{c.link}}';">
							<span class="glyphicon fa {{c.icon}} fa-fw"></span>
							<span class="glypicon-class"><br />{{c.text}}</span>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}
		<h1 class="page-header">{{header}}</h1>
		<div class="bs-glyphicons">
			<ul class="bs-glyphicons-list">
				{{each c in commands}}
					<li style="cursor: pointer;" onclick="location.href='{{c.link}}';">
						<span class="glyphicon fa {{c.icon}} fa-fw"></span> <span
							class="glypicon-class"><br />{{c.text}}</span>
					</li>
				{{/each}}
			</ul>
		</div>
		{{if hasFavorites}}
			<h1 class="page-header">{{N.Favorites}}</h1>
			<div class="bs-glyphicons">
				<ul class="bs-glyphicons-list">
					{{each c in favorites}}
						<li style="cursor: pointer;" onclick="location.href='{{c.link}}';">
							<span class="glyphicon fa fa-star-o fav fa-fw"></span> <span
								class="glypicon-class"><br />{{c.title}}</span>
						</li>
					{{/each}}
					{{if hasLastEditedPage}}
						<li style="cursor: pointer;" onclick="location.href='{{lastEditedPage_link}}';">
							<span class="glyphicon fa fa-pencil fav fa-fw"></span> <span
								class="glypicon-class"><br />{{lastEditedPage_title}}</span>
						</li>
					{{/if}}				
				</ul>
			</div>
		{{/if}}
		<p>{{N.persistence}}: {{persistenceInfo}}</p>
	</div>
</div>
