{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{N.movePage}}</h1>
        
        <h3 style="max-width: 800px;">{{movePageText}}</h3>
        
        <p style="margin-top: 2em;">
            <a href="{{viewlink}}/move{{if moveToBook}}?folder={{folder}}{{else}}?parentid={{parentId}}{{/if}}"
                class="btn btn-primary br" onclick="document.getElementById('s1').style='';">{{N.movePage}}
                <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
            <a href="{{viewlink}}" class="btn btn-default">{{N.cancel}}</a>
        </p>
    </div>
</div>
