{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{N.movePage}}</h1>
        
        <h3 style="max-width: 800px;">{{movePage1}}</h3>
        
        <p  class="mt2">
            <a href="{{viewlink}}/moved?parentid={{parentId}}" class="btn btn-primary br"
                onclick="document.getElementById('s1').style='';">{{N.save}}
                <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
            <a href="{{viewlink}}" class="btn btn-default">{{N.cancel}}</a>
        </p>
    </div>
</div>
