{{master: master_jqueryoben}}

<script src="/js/intercooler-1.2.3.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <p>
            Branch: {{branch}}
            | {{N.user}}: {{login}}
            | {{N.anzahl}}: {{if showTaskButtons}}<span class="label {{if hasTasks}}label-danger{{else}}label-success{{/if}}">{{n}}</span>{{else}}{{n}}{{/if}}
            {{if hasWeitere}}(+{{weitere}}){{/if}}
            | <a href="/w/{{branch}}/tasks-created-by-me">{{N.tasksCreatedByMe}}</a>
            | <a href="/w/{{branch}}/pages-watched-by-me">{{N.vonMirBeobachteteSeiten}}</a>
        </p>

        {{each n in tasks}}
            <div class="mt2" style="border-top: 1pt #ccc solid;">
                   <div style="margin-top: 4px;">
                       <a href="{{n.parentLink}}"><i class="fa fa-file-text" style="color: {{n.color}};"></i></a>
                       <b>{{n.parentTitle}}</b>
                   </div>
                
                <div id="nb{{n.id}}" class="commentTextNC" style="margin-bottom: 0; max-width: 1200px;">
                    <div style="max-height: 24mm; overflow-y: auto;">
                        {{n.completeText}}
                    </div>
                    {{include: taskbuttons}}
                </div>
                
                <span style="font-size: 8pt; color: #999; margin-left: 3em;">
                    {{n.date}} &ndash;
                    <span{{if n.me}} class="commentByMe"{{/if}}>{{n.user}}</span>
                </span>
            </div>
        {{/each}}
        
        {{if hasHiddenTasks}}
            <p class="mt3"><a href="{{showHideLink}}" class="btn btn-default">{{showHideText}}</a></p>
        {{/if}}
    </div>
</div>
