{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <h2 style="margin-bottom: 26px;"><a href="{{viewlink}}">{{pageTitle}}</a></h2>

        {{if showTopCreateButton}}
            <p class="mb2">
                <a href="{{viewlink}}/add-note?parent=" class="btn btn-primary br"><i class="fa fa-comment"></i>
                    {{N.addNote}}</a>
            </p>
        {{/if}}
        
        {{noteHTML}}
        {{if not hasNotes}}- {{N.noNotes}} -{{/if}}

        <p class="mt2">
            <a href="{{viewlink}}/add-note?parent=" class="btn btn-primary br"><i class="fa fa-comment"></i>
                {{N.addNote}}</a>

            <a href="{{viewlink}}" class="btn btn-default br"><i class="fa fa-arrow-left"></i>
                {{N.backToPage}} "{{pageTitle}}"</a>
        </p>
    </div>
</div>
