{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{N.notes}}</h1>
        
        <h2><a href="{{viewlink}}">{{pageTitle}}</a></h2>
        
        <p style="margin-bottom: 26px; font-size: 9pt;">{{openNotes}}&nbsp;</p>

        {{if showTopCreateButton}}
            <p class="mb2">
                <a href="{{viewlink}}/add-note?parent=" class="btn btn-primary br"><i class="fa fa-comment"></i>
                    {{N.addNote}}</a>
            </p>
        {{/if}}
        
        {{noteHTML}}
        {{if not hasNotes}}- {{N.noNotes}} -{{/if}}

        <p class="mt2">
            <a href="{{viewlink}}/add-note?parent=" class="btn btn-primary br"><i class="fa fa-comment"></i>
                {{N.addNote}}</a>

            <a href="{{viewlink}}" class="btn btn-default br"><i class="fa fa-arrow-left"></i>
                {{N.backToPage}} "{{pageTitle}}"</a>

            <a href="/w/{{branch}}/my-tasks" class="btn btn-default br"><i class="fa fa-inbox"></i> {{N.myTasks}}</a>
        </p>
    </div>
</div>


<script>
function loeschen(id) {
    ret = confirm('{{N.deleteQ}}');
    if (ret) {
        document.querySelector('#n_' + id).style = '';
    }
    return ret;
}

function aufklappen(id, mode) {
    document.getElementById('c1_' + id).style.display = mode ? 'block' : 'none';
    document.getElementById('c2_' + id).style.display = mode ? 'block' : 'none';
    document.getElementById('c0_' + id).style.display = mode ? 'none' : 'block';
}
</script>
