<div class="note">
    <p class="noteInfoNC">
        <!-- <i class="fa fa-stop note{{color}}"></i> -->
        <span class="noteUser">{{user}}</span> -
        <span class="noteCreated" title="created">{{created}}</span>{{if hasChanged}} -
        <span class="noteChanged" title="changed">{{changed}}</span>{{/if}}
        {{if hasPersons}}
            &mdash; {{N.zustaendig}}:
                {{each p in persons}}
                    <span{{if not done}}{{if p.me}} style="background-color: #ff0; font-weight: bold;"{{/if}}{{/if}}
                    >{{p.name}}</span>{{if not p.last}}, {{/if}}
                {{/each}}
        {{/if}}
        {{if done}}
            &mdash; <span style="color: #090;" title="{{doneDate}}"><i
                        class="fa fa-check"></i> {{N.doneBy}} {{doneBy}}</span>
			{{if done}}
	            <a href="{{viewlink}}/note-done?id={{noteId}}&m=u" title="{{N.undoneNote}}"
	                onclick="document.querySelector('#nd_{{noteId}}').style='';"
	                class="btn btn-default btn-xs" style="margin-left: 5px;"><i class="fa fa-undo"></i> <i id="nd_{{noteId}}"
	                class="fa fa-delicious fa-spin" style="display: none;"></i></a>
	        {{/if}}
        {{/if}}
    </p>
    <p class="noteTextNC{{if highlight}} noteHighlight{{/if}}">{{text}}</p>
    <p class="noteCommands">
        {{if addAllowed}}
            <a href="{{viewlink}}/add-note?parent={{noteId}}" class="btn btn-default btn-xs br"><i
                class="fa fa-comments"></i> {{N.reply}}</a>
        {{/if}}
        {{if not done}}
            <a href="{{viewlink}}/note-done?id={{noteId}}" title="{{N.doneNote}}"
                onclick="document.querySelector('#nd_{{noteId}}').style='';"
                class="btn btn-default btn-xs br"><i class="fa fa-check"></i> {{N.done}}! <i id="nd_{{noteId}}"
                class="fa fa-delicious fa-spin" style="display: none;"></i></a>
        {{/if}}
        {{if editAllowed}}
            <a href="{{viewlink}}/edit-note?id={{noteId}}" title="{{N.edit}}"
                class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
            <a href="{{viewlink}}/delete-note?id={{noteId}}" title="{{N.delete}}" class="btn btn-danger btn-xs"
                onclick="return loeschen{{noteId}}();"><i class="fa fa-trash"></i> <i id="n_{{noteId}}"
                class="fa fa-delicious fa-spin" style="display: none;"></i></a>
        {{/if}}
    </p>
    <div class="subnotes">
        {{notes}}
    </div>
</div>

<script>
function loeschen{{noteId}}() {
    ret = confirm('{{N.deleteQ}}');
    if (ret) {
        document.querySelector('#n_{{noteId}}').style='';
    }
    return ret;
}
</script>
