<div class="note">
    <p class="noteInfo">
        <i class="fa fa-stop note{{color}}"></i>
        <span class="noteNumber">#{{number}}</span> -
        <span class="noteUser">{{user}}</span> -
        <span class="noteCreated" title="created">{{created}}</span>{{if hasChanged}} -
        <span class="noteChanged" title="changed">{{changed}}</span>{{/if}}
    </p>
    <pre class="noteText">{{text}}</pre>
    <p>
        {{if addAllowed}}
            <a href="{{viewlink}}/add-note?parent={{number}}" class="btn btn-default btn-xs br"><i
                class="fa fa-comments"></i> {{N.reply}}</a>
        {{/if}}
        {{if editAllowed}}
            <a href="{{viewlink}}/edit-note?number={{number}}" title="{{N.edit}}"
                class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
            <a href="{{viewlink}}/delete-note?number={{number}}" title="{{N.delete}}" class="btn btn-danger btn-xs"
                onclick="return loeschen{{number}}();"><i class="fa fa-trash"></i> <i id="n_{{number}}"
                class="fa fa-delicious fa-spin" style="display: none;"></i></a>
        {{/if}}
    </p>
    <div class="subnotes">
        {{notes}}
    </div>
</div>

<script>
function loeschen{{number}}() {
    ret = confirm('{{N.deleteQ}}');
    if (ret) {
        document.querySelector('#n_{{number}}').style='';
    }
    return ret;
}
</script>
