{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <h2>{{pageTitle}}</h2>

        <p class="mt2">{{N.reorder1}}</p>

        <form class="sortable" hx-post="{{orderlink}}" hx-trigger="end"
            style="max-width: 400px;">
            {{include: OrderSeitePageSubpages}}
        </form>
        
        <p class="mt1"><a href="{{fertiglink}}" class="btn btn-primary br"
            onclick="document.querySelector('#s1').style='';">{{N.fertigSpeichern}}
            <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
        <a href="{{viewlink}}" class="btn btn-default">{{N.cancel}}</a></p>
    </div>
</div>

<script>
htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class'
      });
    }
})
</script>
