{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        {{if empty}}
            <p>{{N.PapierkorbLeer}}</p>
        {{else}}
            <form action="/w/{{branch}}/recycle" method="post">
                <div class="input-group" style="display: block;">
                    <input type="text" class="form-control" style="width: 180px;" id="qr" name="qr" value="{{qr}}" placeholder="{{N.titleSearch}}"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <table class="table table-striped table-hover ntabelle mt2">
                <tr>
                    <th>{{N.deleteDate}}</th>
                    <th>{{N.pageTitle}}</th>
                    <th>{{N.ParentPage}}</th>
                    <th>{{N.subpages}}</th>
                    <th>{{N.deletedBy}}</th>
                    <th></th>
                </tr>
                {{each o in objects}}
                    <tr>
                        <td>{{o.date}}</td>
                        <td>{{o.title}}</td>
                        <td>{{o.parentTitle}}</td>
                        <td>{{if o.hasSubpages}}
                                <a href="{{o.subpageslink}}">{{o.n}}</a>
                            {{else}}
                                {{o.n}}
                            {{/if}}
                        </td>
                        <td>{{o.by}}</td>
                        <td style="text-align: right;">
                            <a href="{{o.poplink}}" class="btn btn-xs btn-default br"
                                onclick="return confirm('{{o.confirmpop}}')"><i class="fa fa-recycle"></i> {{N.Wiederherstellen}}</a>
                            <a href="{{o.deletelink}}" class="btn btn-xs btn-danger"
                                onclick="return confirm('{{o.confirmdelete}}')"><i class="fa fa-trash-o"></i> {{N.EndgueltigLoeschen}}</a>
                        </td>
                    </tr>
                {{/each}}
            </table>
            <p>{{N.anzahl}}: {{n}}</p>
            <p class="mt2" style="text-align: right;">
                <a href="/w/{{branch}}/recycle/delete/_all" class="btn btn-xs btn-danger"
                    onclick="return confirm('{{N.ConfirmPapierkorbLeeren}}')"><i class="fa fa-trash-o"></i> {{N.PapierkorbLeeren}}</a>
            </p>
        {{/if}}
    </div>
</div>
