{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <p>
            {{each L in langs}}
                <a href="/p/{{branch}}/-/{{bookFolder0}}/{{L.lang}}"
                    class="btn btn-primary btn-preview"
                    title="{{N.preview}} - {{N.noSpecificCustomer}} - {{L.lang}}">{{L.LANG}}</a>
            {{/each}}
            {{each c in customers}}
                <br/>
                {{each L in langs}}
                    <a href="/p/{{branch}}/{{c.customer}}/{{bookFolder0}}/{{L.lang}}"
                        class="btn btn-info btn-preview"
                        title="{{N.preview}} {{c.customer}} {{L.lang}}">{{c.CUSTOMER}}</a>
                {{/each}}
            {{/each}}
        </p>
        
    </div>
</div>        