{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        {{if hasBooksfilter}}
            <p> {{N.buchfilter}}: {{each b in booksfilter}}{{if b.active}}{{b.title}}{{else}}<a
                    href="{{b.link}}">{{b.title}}</a>{{/if}}{{if not b.last}}, {{/if}} {{/each}}
                {{if hasqb}}<a href="{{qboff}}" class="btn btn-default btn-sm ml2">{{N.qbofftext}}</a>{{/if}}
            </p>
        {{/if}}
        
        <p>{{N.treffer}}: {{n}}</p>
        <hr/>
        
        <ul>
            {{each L in langs}}
                {{each r in L.result}}
                    <li class="search-result"><a href="/s/{{branch}}/{{r.path}}">{{r.title}}</a>
                        {{if r.hasFeatureNumber}}
                            <span class="label featurenumber">{{r.featureNumber}}</span>
                            <i class="fa fa-copy" onclick="copy(this, '{{r.featureNumber}}')"></i>
                        {{/if}}
                        <br/><div class="textfrag">{{r.content}}</div>
                        {{if r.hasBreadcrumbs}}
                            <small class="searchResultBreadcrumbs">
                                {{if r.isInternal}}
                                    <i class="fa fa-book fa-internal"></i>
                                {{else if r.isFeatureTree}}
                                    <i class="fa fa-sitemap fa-sitemap-color"></i>
                                {{else}}
                                    <i class="fa fa-book greenbook"></i>
                                {{/if}}
	                            {{each b in r.breadcrumbs}}
	                                <a href="{{b.link}}">{{b.title}}</a> &gt;
	                            {{/each}}
	                            <a href="/s/{{branch}}/{{r.path}}">{{r.title}}</a> [{{L.lang}}]
                            </small>
                        {{/if}}
                    </li>
                {{/each}}
            {{/each}}
        </ul>
        
        {{if not forceContainsSearch}}
            <p class="mt3">{{N.deepSearch1}} <a href="{{containsSearchLink}}">{{N.deepSearch2}}</a> {{N.deepSearch3}}</p>
        {{/if}}
    </div>
</div>

<script src="/js/copy.js"></script>
