{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <form action="{{booklink}}/rn-select-release2?c={{project}}" class="form-horizontal" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="release" class="col-lg-1 control-label">{{N.Release}}</label>
                    <div class="col-lg-5">
                        <select class="form-control" id="release" name="release" size="20" autofocus>
                            {{each a in releases}}
                                <option value="{{a.id}}"{{if a.selected}} selected{{/if}}>{{a.text}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-5">
                        <button type="submit" class="btn btn-primary br" onclick="document.querySelector('#s1').style='';">{{N.Import}}
                            <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                        <a href="{{booklink}}/rn-select-customer2" class="btn btn-default br">{{N.cancel}}</a>
                        <a href="{{booklink}}/rna" class="btn btn-default">Hilfe</a>
                    </div>
                </div>
            </fieldset>
        </form>
        
    </div>
</div>
