{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <p><a href="tag-cloud?m=n">{{N.orderBySize}}</a> | <a href="tag-cloud">{{N.orderByName}}</a></p>
        
        <p class="mt2">        
            {{each tag in tags}}
                <span class="label label-tag" style="font-size: {{tag.size}}pt;"><a
                    href="{{tag.link}}"><i class="fa fa-tag"></i> {{tag.tag}} ({{tag.n}})</a></span>
            {{/each}}
        </p>
    </div>
</div>
