{{master: master}}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <p>
            Branch: {{branch}}
            | {{N.user}}: {{login}}
            | {{N.anzahl}}: {{n}}
            | <a href="/w/{{branch}}/my-tasks">{{N.myTasks}}</a>
        </p>

        {{each n in tasks}}
            <div class="mt2" style="border-top: 1pt #ccc solid;">
                   <div style="margin-top: 4px;">
                       <a href="{{n.parentLink}}"><i class="fa fa-file-text" style="color: {{n.color}};"></i></a>
                       <b>{{n.parentTitle}}</b>
                   </div>
                
                <div id="nb{{n.id}}" class="commentTextNC" style="margin-bottom: 0; max-width: 1200px;">
                    <div style="max-height: 24mm; overflow-y: auto;">
                        {{n.completeText}}
                    </div>
                    <a href="{{n.link}}" class="btn btn-primary btn-sm br" style="margin-top: 4px;">{{n.viewTask}}</a>
                </div>
                
                <span style="font-size: 8pt; color: #999; margin-left: 3em;">{{n.date}} &ndash; {{N.zustaendig}}: {{n.person}}</span>
            </div>
        {{/each}}
        <p class="mt2">{{N.tasksCreatedByMeInfo}}</p>
    </div>
</div>
