<a hx-get="{{n.priolink}}?p=top"    hx-target="#tb_{{n.id}}" class="btn {{if n.prio1}}btn-success{{else}}btn-default{{/if}} btn-sm" title="hohe Prio = oben anzeigen"><i class="fa fa-arrow-up"></i></a>
<a hx-get="{{n.priolink}}?p=normal" hx-target="#tb_{{n.id}}" class="btn {{if n.prio2}}btn-success{{else}}btn-default{{/if}} btn-sm" title="normale Prio">=</a>
<a hx-get="{{n.priolink}}?p=hide"   hx-target="#tb_{{n.id}}" class="btn {{if n.prio3}}btn-success{{else}}btn-default{{/if}} btn-sm" title="ausblenden"><i class="fa fa-arrow-down"></i></a>
