{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        {{each h in hauptliste}}
            {{if h.hasEntries}}
                <h2>{{N.validation}}: {{h.lang}}</h2>
                
                <ul>
                    {{each s in h.seiten}}
                        <li>
                            <a href="{{s.link}}">{{s.title}}</a>
                            <ul>
                                {{each f in s.fehlerliste}}
                                    <li>{{f.text}}</li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
                <hr/>
            {{/if}}
        {{/each}}
        
        <p>{{N.nMessages}}: {{nMessages}} 
        <br>{{N.nPages}}: {{nPages}}</p>

        {{if hasUnusedImages}}        
	        <hr/>

            <h2>{{N.unusedImages}}</h2>
            <ul>	        
		        {{each i in pagesWithUnusedImages}}
		            <li><a href="{{i.link}}">{{i.titel}}</a>
		                <ul>
		                    {{each ii in i.unusedImages}}
		                      <li>{{ii.dn}}</li>
		                    {{/each}}
		                </ul>
		            </li>
		        {{/each}}
	        </ul>
        {{/if}}
        
        <hr/>

        {{each h in hauptliste}}
            {{if h.hasLinks}}
                <h2>{{N.externalLinks}}: {{h.lang}}</h2>
                <ul>
                    {{each l in h.links}}
                        <li><a href="{{l.pagelink}}">{{l.pagetitle}}</a><ul><li><a href="{{l.href}}" target="_blank">{{l.href}}</a> "{{l.title}}"</li></ul></li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </div>
</div>
