{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>
        
        <p>
            <a href="/values/{{branch}}/add" class="btn btn-primary">{{N.kvcreatetype}}</a>
        </p>
        
        {{if not empty}}
	        <table class="table table-striped table-hover mt2">
	            <tr>
	                <th>{{N.title}}</th>
	                <th>{{N.kvvalues}}</th>
	                <th style="text-align: right;">{{N.anzahl}}</th>
	                <th>{{N.kvtype}}</th>
	                <th></th>
	            </tr>
	            {{each v in valuesList}}
	                <tr>
	                    <td><a href="/values/{{branch}}/edit/{{v.key}}">{{v.title}}</a></td>
	                    <td>{{v.values}}</td>
	                    <td style="text-align: right;">{{v.n}}</td>
	                    <td>{{v.key}}</td>
	                    <td><a href="/values/{{branch}}/delete/{{v.key}}" onclick="return loeschen('{{v.title}}');"
	                        class="btn btn-danger btn-xs" title="{{N.kvdeletekey}}"><i class="fa fa-trash"></i><i id="wait_{{v.title}}"
	                        class="fa fa-delicious fa-spin" style="display: none;"></i></a>
	                </tr>
	            {{/each}}
	        </table>
        {{/if}}
    </div>
</div>

<script>
function loeschen(title) {
    ret = confirm('{{N.kvdeletekeyt}}'.replace('{title}', title));
    if (ret) {
        document.querySelector('#wait_' + title).style='';
    }
    return ret;
}
</script>
