{{master: master_jqueryoben}}

<style>
.mw {
    min-width: 200px;
}
</style>

<div class="row">
    <div class="col-lg-9">
        <div class="mt1" style="margin-bottom: 10px; padding-left: 0;">
            <a {{if hasPrevlink}}href="{{prevlink}}"{{else}}disabled{{/if}} class="btn btn-default"
                title="{{N.pageToPrev}}" id="prev1"><i class="fa fa-arrow-left"></i></a>
            <a {{if hasNextlink}}href="{{nextlink}}"{{else}}disabled{{/if}} class="btn btn-default br"
                title="{{N.pageToNext}}" id="next1"><i class="fa fa-arrow-right"></i></a>
            <ul class="nav navbar-nav" style="float: right;"><li>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" title="{{N.Menu}}"><i class="fa fa-navicon"></i></button>
                <ul class="dropdown-menu in mw">
                    <li><a href="{{viewlink}}/toggle-favorite"><i class="fa fa-star{{if not isFavorite}}-o{{/if}} fav"></i>
                        {{N.favorite}}{{if isFavorite}} <i class="fa fa-check greenbook"></i>{{/if}}</a></li>
                    
                    <li><a href="{{viewlink}}/toggle-watch"><i class="fa fa-bell{{if not pageWatched}}-o{{/if}}"></i> {{N.watchPage}}
                        {{if pageWatched}}<i class="fa fa-check greenbook"></i>{{/if}}</a></li>
                    <li><a href="{{viewlink}}/toggle-watch?m=s"><i class="fa fa-sitemap"></i> {{N.watchSubpages}}
                        {{if subpagesWatched}}<i class="fa fa-check greenbook"></i>{{/if}}</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#tocModal"><i class="fa fa-list-ul"></i> {{N.TOC}}</a></li>

                    <hr style="margin: 0;"/>
                    
                    {{if gitlab}}
                        <li><a href="{{viewlink}}/history"><i class="fa fa-clock-o"></i> {{N.history}}</a></li>
                    {{/if}}
                    {{if isAdmin}}
                        <li style="background-color: #ff9;"><a href="#" data-toggle="modal" data-target="#editorsnoteModal"><i class="fa fa-thumb-tack"></i>
                            {{N.editorsNote}}</a></li>
                    {{/if}}
                    {{if isCustomerVersion}}
                        <li><a href="{{viewlink}}/help-keys"><i class="fa fa-question-circle"></i>
                            {{N.helpKeys}} ({{helpKeysSize}})</a></li>
                    {{/if}}
                    <li><a href="{{viewlink}}/links"><i class="fa fa-link"></i> {{N.linkAnalysis}}</a></li>
                    <hr style="margin: 0;"/>
                    <li><a href="{{movelink}}"><i class="fa fa-arrow-circle-right"></i> {{N.movePage}}</a></li>
                    <li><a href="{{deletelink}}" style="color: #900;"><i class="fa fa-trash"></i> {{N.deletePage}}...</a></li>
                </ul>
            </li></ul>
            
        </div>
        
        <ul class="nav nav-tabs" id="langTabs">
            {{each L in languages}}
                <li role="presentation"{{if L.active}} class="active"{{/if}}><a href="#{{L.lang}}"
                    data="{{L.LANG}}">{{N.language}}
                    {{L.LANG}}</a></li>
            {{/each}}
        </ul>
        
        <div class="tab-content">
            {{each L in languages}}
                <div role="tabpanel" class="tab-pane{{if L.active}} active{{/if}}" id="{{L.lang}}">
                    <div class="col-lg-12 mwtab" style="border: 1px solid #ddd; border-top: 0px white;">
                        {{if hasEditorsNote}}
                            <div style="background-color: #ff9; margin-top: 1em; padding: .5em; width: 40%; float: right;"><i class="fa fa-thumb-tack"></i> {{editorsNoteBR}}</div>
                        {{/if}}
                        <div class="breadcrumbs">
                            {{each b in L.breadcrumbs}}
                                {{if b.first}}<i class="fa fa-book greenbook"></i>{{/if}}
                                <a href="{{b.link}}">{{b.title}}</a> &gt;
                            {{/each}}
                            &nbsp;<i class="fa fa-file-o"></i>&nbsp; {{L.titel}}
                        </div>
                        <h1 style="margin-top: 10px;">{{L.titel}}</h1>
                        <div class="seite">
                            {{L.toc}}
                            {{L.content}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="col-lg-12 visible-lg-block mt1" style="padding-left: 0;">
            <p>
                <a {{if hasPrevlink}}href="{{prevlink}}"{{else}}disabled{{/if}} class="btn btn-default"
                    title="{{N.pageToPrev}}" id="prev2"><i class="fa fa-arrow-left"></i></a>
                <a {{if hasNextlink}}href="{{nextlink}}"{{else}}disabled{{/if}} class="btn btn-default br"
                    title="{{N.pageToNext}}" id="next2"><i class="fa fa-arrow-right"></i></a>
                <a href="{{editlink}}" class="btn btn-primary br" style="min-width: 100px;"><i
                    class="fa fa-pencil"></i> {{N.edit}}</a>
                {{if hasLastChange}}
                    <span class="last-change">{{lastChangeInfo}}</span>
                {{/if}}
            </p>
        </div>
    </div>
    
    <!-- rechter Rand -->
    
    <div class="col-lg-3">
        <p style="margin-top: 16px;">
            <a href="{{editlink}}" class="btn btn-primary br" style="min-width: 100px;"><i class="fa fa-pencil"></i>
                {{N.edit}}</a>
            <a href="{{createlink}}" class="btn btn-default br">{{N.newPage}}</a>
            <a href="{{pulllink}}" class="btn btn-default br" title="{{N.pullT}}"
                onclick="document.getElementById('s_pull').classList.add('fa-spin');"><i class="fa fa-refresh"
                id="s_pull"></i></a>
        </p>
        <p><span style="font-family: Courier New;" class="br">Page ID: {{id}}</span></p>
        <hr/>
        {{if hasSubPages}}
            {{each L in languages}}
                <div id="subpages_{{L.lang}}"{{if not L.active}} hidden{{/if}}>
                    <h4>{{N.subpages}} ({{L.subpagesSize}})</h4>
                    <ul>
                        {{each s in L.subpages}}
                            <li><a href="{{s.viewlink}}">{{s.titel}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        {{else}}
            <h4>{{N.subpages}} (0)</h4>
        {{/if}}
        <p>
            <a href="{{positionlink}}"
                class="btn btn-default btn-sm br{{if not hasPositionlink}} disabled{{/if}}"
                ><i class="fa fa-sort"></i> {{N.reorder}}</a>
            {{if isAdmin}}
                <a href="{{sortlink}}"
                    class="btn btn-default btn-sm br{{if not hasPositionlink}} disabled{{/if}}"
                    onclick="return sort();"><i class="fa fa-sort-alpha-asc"></i> {{N.sort}}!
                    <i id="s1" class="fa fa-delicious fa-spin" style="display: none;"></i></a>
            {{/if}}
        </p>
        <p style="font-size: 8pt; color: #888;">
            Position: {{position}} | {{Sortierung}}
        </p>
        <hr/>
        <h4>tags ({{tagsSize}}) &nbsp;<a href="{{edittagslink}}" class="btn btn-default btn-xs">{{N.editTags}}</a></h4>
        <p>
            {{each tag in tags}}
                <span class="label label-tag"><a
                    href="{{tag.link}}"><i class="fa fa-tag"></i> {{tag.tag}}</a></span>
            {{/each}}
        </p>
        <hr/>
        
        <p>
            <a href="{{viewlink}}/notes" class="btn btn-default mw"><i class="fa fa-comment"></i>
                {{N.notes}} ({{notesSize}})</a>
        </p>
        {{if isCustomerVersion}}
            <p>
                <a href="{{viewlink}}/mapping" class="btn btn-default mw"><i class="fa fa-question-circle"></i>
                    {{N.customerMapping}}{{if hasOneHelpKey}} <i class="fa fa-check greenbook"></i>{{/if}}</a>
            </p>
        {{else}}
            <p>
                <a href="{{viewlink}}/help-keys" class="btn btn-default mw"><i class="fa fa-question-circle"></i>
                    {{N.helpKeys}} ({{helpKeysSize}})</a>
                {{if hasOneHelpKey}}<br/><span
                    style="font-family: 'Courier New'; font-size: 9pt;">{{oneHelpKey}}</span>{{/if}}
            </p>
        {{/if}}
    </div>
</div>

<!-- Modal dialog for TOC -->
<div class="modal fade" id="tocModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form id="form" class="form-horizontal" action="{{viewlink}}/toc" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">{{N.close}}</span></button>
                    <h4 class="modal-title">{{N.TOC}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tocHeadingsLevels" class="col-sm-5 control-label">{{N.tocHeadingsLevels}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="tocHeadingsLevels" name="tocHeadingsLevels">
                                {{each e in levellist}}
                                    <option{{if e.selected}} selected{{/if}}>{{e.text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tocSubpagesLevels" class="col-sm-5 control-label">{{N.tocSubpagesLevels}}</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="tocSubpagesLevels" name="tocSubpagesLevels">
                                {{each e in levellist2}}
                                    <option{{if e.selected}} selected{{/if}}>{{e.text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary br" onclick=" document.querySelector('#ssave').style='';">{{N.save}}
                    <i id="ssave" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{N.cancel}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal dialog for Editor's note -->
<div class="modal fade" id="editorsnoteModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form id="form" class="form-horizontal" action="{{viewlink}}/editorsnote" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">{{N.close}}</span></button>
                    <h4 class="modal-title">{{N.editorsNote}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="4" name="editorsnote">{{editorsNote}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary br" onclick=" document.querySelector('#ssave2').style='';">{{N.save}}
                    <i id="ssave2" class="fa fa-delicious fa-spin" style="display: none;"></i></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{N.cancel}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#tocModal').on('shown.bs.modal', function() {
        $('#tocLevels').focus();
    })

    $('#langTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        lang = e.target.hash.substring(1)
        $.get("/w/{{branch}}/language?m=page&lang=" + lang);
        {{tabcode}}
    })
    
    function sort() {
        ret = confirm('{{N.sortConfirm}}');
        if (ret) {
            document.querySelector('#s1').style='';
        }
        return ret;
    }
</script>
