{{master: master}}

<div class="row"> 
    <div class="col-lg-12">
        <h1 class="page-header">{{header}}</h1>

        <p>
            <a href="/mask/{{branch}}/{{tag}}/add-field" class="btn btn-primary">{{N.addNewMaskField}}</a>
        </p>

        <table class="table table-striped table-hover mt2">
            <tr>
                <th>ID</th>
                <th>{{N.label}}</th>
                <th>{{N.maskFieldType}}</th>
                <th>{{N.importField}}</th>
                <th></th>
            </tr>
            {{each f in fields}}
                <tr>
                    <td><a href="/mask/{{branch}}/{{tag}}/{{f.id}}/edit-field">{{f.id}}</a></td>
                    <td>{{f.label}}</td>
                    <td>{{f.type}}</td>
                    <td>{{if f.importField}}{{N.yes}}{{/if}}</td>
                    <td style="text-align: right;">
                        <a href="/mask/{{branch}}/{{tag}}/{{f.id}}/sort-field?m=up" onclick="document.querySelector('#s{{f.id}}up').style='';"
                            class="btn btn-default btn-xs" title="{{N.up}}"{{if not f.upAllowed}} disabled{{/if}}><i class="fa fa-arrow-up"></i>
                            <i id="s{{f.id}}up" class="fa fa-delicious fa-spin" style="display: none;"></i></a>

                        <a href="/mask/{{branch}}/{{tag}}/{{f.id}}/sort-field?m=down" onclick="document.querySelector('#s{{f.id}}down').style='';"
                            class="btn btn-default btn-xs" title="{{N.down}}"{{if not f.downAllowed}} disabled{{/if}}><i class="fa fa-arrow-down"></i>
                            <i id="s{{f.id}}down" class="fa fa-delicious fa-spin" style="display: none;"></i></a>

                        <a href="/mask/{{branch}}/{{tag}}/{{f.id}}/delete-field" onclick="return loeschen('{{f.id}}');"
                            class="btn btn-danger btn-xs" title="{{N.deleteMaskField}}"><i class="fa fa-trash"></i><i id="wait_{{f.id}}"
                            class="fa fa-delicious fa-spin" style="display: none;"></i></a>
                    </td>
                </tr>
            {{/each}}
        </table>

    </div>
</div>

<script>
function loeschen(tag) {
    ret = confirm('{{N.deleteMaskField1}} ' + tag + ' {{N.deleteMaskField2}}');
    if (ret) {
        document.querySelector('#wait_' + tag).style = '';
    }
    return ret;
}
</script>
