            <style>
                .f-col {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  justify-content: space-around;
                }
            
                #mindmapc {
                  display: flex;
                  justify-content: space-between;
                  padding: 1em;
                  min-width: 500px;
                  border: 1px solid #ddd;
                  margin-top: 1em;
                }
                
                #mindmapc p {
                  padding: 0.25em 0.5em;
                  background: #f0f0ff;
                  border: 1px solid #666;
                  border-radius: 0.5em;
                  text-align: center;
                  max-width: 300px;
                }
                
                #mindmapc p a {
                    text-decoration: none;
                }
            
                #mindmapc p a:hover {
                    background-color: #ff3;
                }
                
                .type-a {
                    background-color: #fcc !important;
                    word-wrap: break-word;
                }
                .type-b {
                    word-wrap: break-word;
                }
            
                svg {
                  position: absolute;
                  z-index: -1
                }
            
                .path {
                  stroke: silver;
                  fill: none;
                  stroke-width: 2;
                }
            </style>
